/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main Styling */
html,body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
}

a {
  color: #333;
  text-decoration: none;
}

h1, h2, h3 {
  padding-bottom: 20px;
}

p {
  margin: 10px 0; /* top and bottom 10px, left and right 0px */
}

/* Utility Classes */
.container {
  margin: auto;
  max-width: 1100px; /* how far the titles can go across the navbar */
  overflow: auto;
  padding: 0 20px;
}

/* Navbar */
#navbar {
  background-color: #333;
  overflow: auto;
}

#navbar a {
  color: #fff;
}

#navbar h1 {
  padding-top: 20px;
  float: left;
}

#navbar ul {
  float: right;
  list-style: none;
}

#navbar ul li {
  float: left;
}

#navbar ul li a {
  display: block;
  padding: 20px;
  text-align: center;
}


#navbar ul li a:hover,
#navbar ul li a.current {
  color: #f7c08a;
  background-color: #444;
}